@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
body{
    font-family: 'VT323', monospace;
}
canvas{
    width: 600px;
    height: 400px;
    box-shadow: 0px 0px 10px black;
}